@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
    margin: 0;
}

header {
    width: 100vw;
    height: 7.5vh;
    background-color: #FFF;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.icon{
    padding-left: 10vw;
}
nav{
    height: 5vh;
    width: 100vw;
}
nav>div{
    width: 50vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 8vw;
}
nav>div>div{
    color: #99A2AA;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
}
.first-page{
    width: 100vw;
    height: 36.7vh;
    background: #FEC524;

}
.fp-text-container{
    padding-top:2vh;
    height: 20vh;
    width: 40vw;
    padding-left: 10vw;
}

.fp-text{
    color: #FFF;
    width: 200px;
    font-family: 'Rubik', sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
.fp-sec-text {
    padding-top: 3vh;
    color: #0E2F4B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.fp-input-container{
    padding-left: 10vw;
    height: 25vh;
    position: relative;
    top:5.5vh;
}
.fp-input-input{
    width: 50vw;
    box-sizing: border-box;
    height: 5vh;
    border: 0 white;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);

    display: inline-flex;
    padding: 0 230px 0 30px;
    align-items: center;
}
.fp-input-buttons{
    margin-top: 2vh;
    width: 17vw;
    height: 7vh;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
}
.fp-input-buttons-container{
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
.fp-input-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #99A2AA;
    text-align: center;
    font-family: 'Rubik',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.fp-input-buttons p{
    padding-left: 2vw;
}
.second-page{
    padding-top: 5.5vh;
    padding-left: 10vw;
    width: 90vw;
    height: 62vh;
    display: flex;
    background: #F8F8F8;
}
.sp-left-text-box-header{
    margin-top: 10vh;
    color: #0E2F4B;
    font-family: 'Rubik',sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.sp-left-text-box-main{
    color: #0E2F4B;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    width: 27.5vw;
}
.sp-right-text-container{
    width: 50vw;
    padding: 5vh 5vw;
    display: flex;
    flex-wrap: wrap;
}
.sp-right-box{
    width: 23.5vw;
    height: 12.5vh;
}
.sp-right-box-header{
    color: #0E2F4B;
    font-family: 'Rubik',sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.sp-right-box-details{
    margin-top: 1vh;
    color: #0E2F4B;
    font-family: 'Rubik',sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.sp-right-box-details svg{
    padding-left: 2px;
    margin-bottom: -3px;
    height: 13px;
}
.third-page{
    width: 100vw;
    height: 53.5vh;
    background: #042C4B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tp-box{
    width: 80vw;
    height: 30vh;
}
.tp-box-header{
    color: #F8F8F8;
    font-family: 'Rubik',sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px; /* 125% */
}
.tp-box-main{
    margin-top: 2vh;
    color: #99A2AA;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
.tp-box-button{
    margin-top: 3vh;
    border-radius: 10px;
    background: #FDC13D;
    display: flex;
    width: 25vw;
    height: 2.5vh;
    padding: 28px 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #0E2F4B;

    text-align: center;
    font-family: 'Rubik',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 400% */
}
.fourth-page{
    height: 72.5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: start;
}
.fp-finance-volunteer{
    margin-top: 8vh;
    border-radius: 10px;
    background: #FDC13D;
    width: 70vw;
    padding: 2vh 5vh;
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.fp-finance-header{
    color: #0E2F4B;
    font-family: 'Rubik',sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
.fp-finance-main{
    color: #0E2F4B;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */

}
.fp-finance-details{
    color: #0E2F4B;
    font-family: 'Rubik',sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px; /* 150% */
}
.fp-finance-details svg{
    height: 14px;
    margin-bottom: -3px;
    padding-left: 1vw;
}
.fp-service-header{
    margin-top: 10vh;
    color: #0E2F4B;
    font-family: 'Rubik',sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
}
.fp-service-main{
    display: flex;
    justify-content: space-between;
    width: 30vw;
    margin-left: 2vw;
    margin-top: 5vh;
}
.fp-service-box-header{
    color: #0E2F4B;
    font-family: 'Rubik',sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}
.fp-service-box-details{
    color: #0E2F4B;
    font-family: 'Rubik',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}
.fp-service-box-details svg{
    height: 14px;
    margin-bottom: -3px;
}
.fifth-page{
    background: #0E2F4B;
    height: 51vh;
    width: 100vw;
}
.fth-box{
    padding-top: 13vh;
    padding-left: 10vw;
}
.fth-box-header{
    color: #F8F8F8;
    font-family: 'Rubik',sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
}
.fth-box-main{
    color: #99A2AA;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    margin-top: 3vh;
}
.fth-box-input-box{
    display: flex;
    margin-top: 5vh;
}
.fth-box-input{
    width: 35vw;
    margin-right: 1vw;
    border-radius: 10px;
    border: 1px solid #E8EBEE;
    background: #FFF;
    color: #6C757D;
    font-family: 'Rubik',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}
.fth-box-button{
    width: 17.5vw;
    border-radius: 10px;
    background: #FDC13D;
    color: #0E2F4B;
    text-align: center;
    font-family: 'Rubik',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 400% */
}
.six-page{
    width: 100vw;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-content: center;

}
.sx-page-container{
    width: 100%;
    background-color: silver;
}
.sx-news-header{
    color: #0E2F4B;
    font-family: 'Rubik',sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px; /* 125% */
}
.sx-news-box{
    width: 40vw;
    height: 22vh;
    border-radius: 10px;
    background: #FFF;
}
.sx-news-box-header{
    display: flex;
}
.sx-news-box-header-icon{
    margin:2vh 2vw;
}
.sx-news-box-header-content-text{
    width: 90%;
    color: #0E2F4B;
    font-family: 'Rubik',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
}
.sx-news-box-header-content-data{
    padding-top: 2vh;
    color: #99A2AA;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.sx-news-box-content{
    margin-left: 2vw;
    color: #0E2F4B;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}