/*=============================hw 2 pt 1========================================================*/
#font1 {
    font-family: 'Dancing Script', cursive;
}

#font2 {
    font-family: 'Fjalla One', sans-serif;
}

#font3 {
    font-family: 'Indie Flower', cursive;
}

#font4 {
    font-family: 'Rubik Mono One', monospace;
}

#font5 {
    font-family: 'Sedgwick Ave Display', cursive;
}

.block {
    background-color: lightsalmon;
    width: 18%;
    height: 300px;
    margin: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
}
/*=======================================hw 2 pt 2======================================================*/
.main{
    width: 90%;
    height: 400px;
    background-color: yellowgreen;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 50px;
}
.block2{
    height: 100px;
    width: 100px;
    background-color: red;
}
.block2:hover{
    border-radius: 50%;
    background-color: grey;

}
/*==========================================hw 2 pt 3================================================*/
/*/settings/*/
.flex-direct{
    display: flex;
    justify-content: center;
    align-items: center;
}
.font-specify{
    font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
    color: white;
}
/*/main/*/
.main2{
    width: 80%;
    height: 1000px;
    display: table;
    padding: 30px;
    background-color: silver
}
.light-blue-main{
    margin:20px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*/blocks/*/
.lightblue-block{

    width: 30%;
    height: 300px;
    background-color: royalblue;
}

.blue-block{
    height: 300px;
    background-color: blue;
    font-size: 50px;
}
