.main {
    display: flex;
    margin: 20px 20px 20px 20px;
}
.text-box{
    margin-left: 20px;
}
.text-box > p {
    color: white;
    font-size: 20px;
    text-shadow: 1px 2px 15px white ;
}

.color-grey {
    color: darkgrey;
}
.header{
    width: 100%;
    text-align: center;
}
.img-box>img{
    width:300px;
    height: 400px;
}
.navi{
    color: lightcyan;
    position: absolute;
    bottom: 0;
    font-family: "Arial Black", sans-serif;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    border: 2px black solid;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-shadow: 2px 2px black;

}
.navi:hover{
    background-color: darkgrey;
    color: black;
}
